<%#encoding:UTF-8%><div class="imageblock"<%
if (attr? :align) || (attr? :float)
%> style="<%= [("text-align: #{attr :align};" if attr? :align),("float: #{attr :float};" if attr? :float)].compact * ' ' %>"<%
end %>>
<div class="content"><%
if attr? :link %>
<a class="image" href="<%= attr :link %>"><img src="<%= image_uri(attr :target) %>" alt="<%= attr :alt %>"<%= (attr? :width) ? %( width="#{attr :width}") : nil %><%= (attr? :height) ? %( height="#{attr :height}") : nil %>></a><%
else %>
                                                                                                                                                                                                                                                           <%#= FIXME: No built-in support for data attribute. %>
<img <%= @id && %( id="#{@id}") %>class="<%= [@style,role].compact * ' ' %>" src="<%= image_uri(attr :target) %>" alt="<%= attr :alt %>"<%= (attr? :width) ? %( width="#{attr :width}") : nil %><%= (attr? :height) ? %( height="#{attr :height}") : nil %><%= (attr? "data-src") ? %( data-src="#{attr "data-src"}") : nil %>><%
end %><%
if title? %>
<div class="title"><%= captioned_title %></div><%
end %>
</div>
</div>